<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="try2rest.Properties.Settings.strukConnectionString"
            connectionString="Data Source=WEBREPORT;Initial Catalog=struk;Persist Security Info=True;User ID=read;Password=1234AbcD"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>